@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --basic-white: #F9FBE7;
  --basic-text: #FEA1A1;
  --foreground-rgb: 249, 251, 231;
  --background-start-rgb: 249, 251, 231;
  --background-end-rgb:249, 251, 231;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 249, 251, 231;
    --background-start-rgb:249, 251, 231;
    --background-end-rgb: 249, 251, 231;
  }
}

body {
  color: rgb(var(--basic-text));
  background: rgb(var(--basic-white));
}
